

  /* კი ცდომილება არის და ლოგიკურიცაა :დ რადგან მხოლოდ ერთ ფიგმაა მობაილის ზომებიანი ფიგმა ხომ არ იყო და ალბათობით გავწერე თრე რისფონშ ზუსტ ზომას გადაცცემ და იმუშვებს ანუ აი აქ */
@media only screen and (max-width: 600px) {
    .info_box p{
        margin: 0px !important;
    }
    .about_back{
        display: none;
    }
    .about_info  {
        position: static;
        right: 0px;
    top: 0px;
    }
    .servise_box{
        margin-bottom: 10px;
    }
    .serv_wrapper{
        justify-content: center;
        
    }
    .client_left_box{
        max-width: 100%;

        
    }
    .client_right_box{
        max-width: 0px;
        width:0%;
        
    }
    .client_wrapper{
        flex-direction: column;
        margin: 0 50px;
        
    }
    /* .client_2 {
        
     top:50px;
     left:10px;
    z-index: 5;
        }

        .client_3{
            
            top:80px;
            left:100px;
        } */
    .client_1, .client_2, .client_3{
         position: static;
         margin-bottom: 10px;
    }
   
    .client_1:before, .client_2::before, .client_3::before{
        content: "";
    }
  .nav{display: none;}
.burger{
    display: block;
}
.about_info{
    margin: 0 auto;
}



.footer_box{
    flex-direction: column;
}
.right_footer_box{
    margin: 0 auto;
}
.left_footer_box{
    margin: 0 auto;
}
}