.container{
 max-width: 1100px;
width: 100%;
margin: 0 auto;
}

.container_fild{
    width: 100%;
}
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}

/* header start */
header{
 justify-content: space-between;
 margin: 20px 0;
 align-items: center;
}

.nav_link{
    margin-right: 20px;
}
.nav_link:last-child{
    margin-right: 0;
}
.nav_link a:link, .nav_link a:visited {
    color: black;
    font-size: 20px;
}

.nav_link a:hover{
    color: red;
    border-bottom: 1px solid red;
 
}

.red{
    color: red !important;
}

/* header end */

/* top section start*/
.top_section{
    background-image: url("../image/1.jpg");
    background-size: cover;
    background-position: center;
    height: 475px;
    margin-top: 100px;
    
}

.right_box{
    max-width: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.left_box{
    max-width: 50%;
    width: 100%;
    padding-left:25px ;
    justify-content: flex-end;
    align-items: flex-end;

}
.info_box{

 max-width: 304.4px;
 width: 100%;
 right: 0.31px;
 bottom: 29.27px; 
 background: #3559C7;
 border-radius: 1.46346px 1.46346px 0px 0px;
}
.info_box p{
    color: white;
   
    max-width: 228.3px;
    width: 100%;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5616px;
    line-height: 21px;
    text-align: center;  
    
   
}

.right_box p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 52.6847px;
    line-height: 62px;
    color: #fff;
    padding-left: 10px;
    

}

.arrow{
    background-color: black;
    color: white;
    width: 50%;    
    padding: 15px 0;
    background: #292E3D;
    padding: 10px;
    text-align: center;

}


/* top section end */


/* Reputation start */


.reputation {
   justify-content: space-around;
   margin: 43px 0 100px 0;

}
.servise_box{
  
    max-width:213.67px;
    width: 100%;
    padding: 20px 0 32px 10px;
    border: 1px solid #E0E3EB;
}

.servise_text{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26.3424px;
    line-height: 31px;    
    text-align: center; 
    color: #292E3D;
    
}
.servise_wrapper{
    justify-content: space-around;
    margin-top: 36px;
    flex-wrap: wrap;
}

.servise_box h3{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 14.6346px;
line-height: 17px;
color: #3D445C;
margin: 10px 0;
}
 
.servise_box p{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 11.7077px;
line-height: 14px;
color: #858EAD;
margin: 10px 0;

}

/* about start */

.about{
  margin: 70px 0 150px 0;
  position: relative;
 
  
}
.about_back{
    background-image: url("../image/man.png");
  background-size: cover;
  background-position: initial;
  height: 475px;
  max-width: 80%;
  width: 100%; 
}


.about_info{
 position: absolute;
max-width: 357.09px;
width: 100%;
height: 382.7px;
right:50px;
top: 80px;
background: #2947A9;
box-shadow: 0px 14.6346px 17.5616px -2.92693px rgba(17, 24, 39, 0.1), 0px 5.85386px 5.85386px -2.92693px rgba(17, 24, 39, 0.04);
padding: 36px 0 0 26px;

}
.about_info h3{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 26.3424px;
line-height: 31px;
color: #FFFFFF;
margin-bottom: 26px;

}


.about_info p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14.6346px;
    line-height: 17px;    
    color: #FFFFFF;
    width: 80%;
    margin: 30px 0;
}




.about_info a:link{
    display: block;
    margin: 52px 0;
    padding: 11px 14px;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 13.1712px;
line-height: 15px;
text-align: center;
color: #2947A9;
background-color: #FFFFFF;
width: 160.27px;
border-radius: 5px;

}


.about_info a:hover{
    /* border: 1px solid black; */
    color: red;
}

/* servise start */

.serv_title {
  
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 26.3424px;
line-height: 31px;
text-align: center;
color: #292E3D;
margin-bottom: 50px;
}


.serv_wrapper {
    max-width: 734px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;

}

.ser_box{
    max-width: 198px; 
    width: 100%;
    margin-bottom: 50px; 
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    padding: 40px 0;
    box-shadow: 0px 0px 27.0741px -1.46346px rgba(17, 24, 39, 0.05);
    border-radius: 2.92693px;
    

}

.ser_box p{
    margin-top: 14px;
}

.ser_box:nth-child(even){
    background-color: #2947A9;
    color: #FFFFFF;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 14.6346px;
line-height: 17px;

}


.ser_box:nth-child(odd){
    color: #2947A9;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14.6346px;
    line-height: 17px;
   }

.client_wrapper{
    flex-wrap: wrap;
}
  .client_right_box{
    max-width: 30%;
    width: 100%;
    }

  
  .client_left_box{
    max-width: 70%;
    width: 100%;
    height: 600px;
    position: relative;
  }



.client{
    max-width: 280px;
    width: 100%;
    height: 155px;
    background-color: #858EAD;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
border-radius: 4px;
padding: 30px 0 0 30px;
}
.client_number{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 84px;
color: #292E3D;

}


.client_right_box h3{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 70px;
color: #2947A9;
padding-top: 130px;

}

.client_right_box p{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
margin: 45px 0;

}






.client_text{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px; 
    color: #667299;
    vertical-align: middle;
}

 /* .client_text::before{
    content: "";
    width: 7px;
    height: 28px;
    background: #F9995D;
    display: inline-block;
    margin-right: 10px;

}  */


.hr{
    width: 7px;
    height: 28px;
    background: #F9995D;
    margin-right: 10px;
}

.client_1{
    position: absolute;
    top:250px;
    left:30px;
}



.client_1::before{
    content: url("../image/servise/illus.png");
    position: absolute;
    top:-20px;
    left: -10px;
}



.client_2{
    position: absolute;
    top:70px;
    left:270px;
}

.client_2::before{
    content: url("../image/servise/illus\ \(3\).png");
    position: absolute;
    top:-20px;
    right:-10px;
}

.client_3{
    position: absolute;
    top:380px;
    left:300px;
}

.client_3::before{
    content: url("../image/servise/illus\ \(1\).png");
    position: absolute;
    top:-20px;
    left: -10px;
}

.clinet_btn{
    display: block;
    padding: 15px 15px;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 13.1712px;
line-height: 15px;
text-align: center;
color: #FFFFFF;
background-color: #2947A9;;
width: 176px;
border-radius: 5px;
}

.clinet_btn:hover{
    color: black;
    background-color: #FFFFFF;
}


.container_fild {
    background-image: url("../image/sec_consultation.png");
    background-size: cover;
    background-position: center;
    height: 275px;
   
}

.consult_left{
   width: 70%;
   height: 275px;
   

}
.consult_text:first-child{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;    
    color: #FFFFFF;
    margin: 50px 0;
}


.consult_text:last-child {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.consult_right{
    width: 30%;
    justify-content: center;
    align-items: center;
  
}

 
.consult_btn{
    
    background-color: #3559C7;
    color: #FFFFFF;
    font-size: 18px;
    display: inline-block;
    padding: 15px 20px;
    
} 
 




.info_text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}


.project_left_box{
 margin-top: 50px;
 width: 30%;
 padding: 0 10px;
}

.project_text{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 26.3424px;
line-height: 31px;
color: #292E3D;
}

.project_link {
    margin-top: 50px;
}
.project_link li{
   margin-bottom: 20px;
}

.all{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 17.5616px;
line-height: 21px;
color: #2947A9;
} 
.project_link li a{
    color: #858EAD;
}



.project_link li a:hover{
    color: black;
}





.project_right_box{
    width: 70%;
}

.card{
    width: 280px;
    height: 280px;
    margin-bottom: 30px;
}

.project_card_box{
    margin-top: 100px;
    justify-content: space-between;
    padding:  0 50px;
}

.card_text{
    background-color: #2947A9;
    padding: 10px;
}

.card_text h3{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 14.6346px;
line-height: 17px;
color: #FFFFFF;
margin-bottom: 5px;

}

.card_text p{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 13.1712px;
line-height: 15px;
color: #FFFFFF;
}

.card img{
    width: 100%;
    height: auto;
}


.form{
    margin: 0 auto;
    background-color: red;
}